<h1 class="text-center">Password Generator</h1>
<form>
  <div>
    <label class="form-label">Enter Length</label>
    <input class="form-control" (input)="onChangeLength($event)" />
  </div>

  <div>
    <label class="form-label">Use Letters</label>
    <input (change)="onChangeUseLetters()" type="checkbox" />
  </div>

  <div>
    <label class="form-label">Use Numbers</label>
    <input (change)="onChangeUseNumbers()" type="checkbox" />
  </div>

  <div>
    <label class="form-label">Use Symbols</label>
    <input (change)="onChangeUseSymbols()" type="checkbox" />
  </div>

  <div>
    <button
      class="btn btn-primary"
      [disabled]="
        !(length && (includeLetters || includeNumbers || includeSymbols))
      "
      (click)="onButtonClick()"
    >
      Generate!
    </button>
  </div>

  <div *ngIf="password">
    <label class="form-label">Your Password</label>
    <input class="form-control" [value]="password" />
  </div>
</form>
